* {
    touch-action: manipulation;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menubar {
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
}
.lifts {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    height: 90vh;
    margin-top: 50px;
}
.lift {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scroll-snap-align: start;
    min-width: 100%;
}
.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.indicator {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 5px;
    order: -1;
    align-self: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button {
    display: table-cell;
    width: 50vw;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 3vh;
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.e-stop {
    width: 40vw;
    height: 8vh;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 3vh;
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.indicators {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.active {
    background-color: #2ecc71;
}