<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/desktop.css">
    <script src="static/code.js"></script>
</head>
<body>
    <div class="menubar">
        <h2>Lift Control Admin Panel</h2>
        <button class="status" onclick="window.location.href='/status'">status</button>
        <button class="logs" onclick="window.location.href='/logs'">Logs</button>
        <!--estop sollte alles blocken und muss erst entsperrt werden-->
        <button class="e-stop" onclick="emergencyStop()">STOP</button>
    </div>
    <div class="lifts"></div>
</body>
</html>
