<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/desktop.css">
    <script src="static/sim.js"></script>
</head>
<body>
    <div class="menubar">
        <h2>Controller Simulator</h2>
    </div>
    <div>
        <button class="button" onclick="startup()">Startup</button>
        <button class="button" onclick="shutdown()">Shutdown</button>
    </div>
    <div class="lifts"></div>
</body>
</html>